@import "./Global.scss";

$burgerMenuDimension: 40px;

@font-face {
  font-family: "QuickSand-regular";
  src: url("assets/fonts/Quicksand_Regular/QuicksandRegular.eot");
  src: url("assets/fonts/Quicksand_Regular/QuicksandRegular.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Quicksand_Regular/QuicksandRegular.woff") format("woff"),
    url("assets/fonts/Quicksand_Regular/QuicksandRegular.ttf")
      format("truetype");
}
@font-face {
  font-family: "QuickSand-bold";
  src: url("assets/fonts/Quicksand_Bold/QuicksandBold.eot");
  src: url("assets/fonts/Quicksand_Bold/QuicksandBold.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Quicksand_Bold/QuicksandBold.woff") format("woff"),
    url("assets/fonts/Quicksand_Bold/QuicksandBold.ttf") format("truetype");
}
@font-face {
  font-family: "QuickSand-light";
  src: url("assets/fonts/Quicksand_Light/QuicksandLight.eot");
  src: url("assets/fonts/Quicksand_Light/QuicksandLight.eot?#iefix")
      format("embedded-opentype"),
    url("assets/fonts/Quicksand_Light/QuicksandLight.woff") format("woff"),
    url("assets/fonts/Quicksand_Light/QuicksandLight.ttf") format("truetype");
}

html {
  background: #f7f7f8;
}

#app {
  font-family: "QuickSand-bold";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  background: #f7f7f8;
  overflow: hidden;

  .loader {
    z-index: 1000;
  }
}

.header {
  display: flex;
  margin-bottom: 20px;
  .menu {
    height: $burgerMenuDimension;
    width: $burgerMenuDimension;
  }
  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-left: $burgerMenuDimension; // Allows to really center the div

    @include respond-under(lg) {
      margin-right: 0;
    }
    @include respond-under(xs) {
      margin-left: 0;
    }
    img {
      height: 35px;
      @media (max-width: 400px) {
        height: 20px;
      }
    }
  }
  .utils {
    display: flex;
  }
  .signin-button {
    @include respond-under(sm) {
      display: none;
    }
  }
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
}
