@import "./Global.scss";

.basic-button {
  cursor: pointer;
  max-width: 200px;
  min-width: 80px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px 0 rgba(171, 171, 171, 0.714);
  padding: 0 10px;
  position: relative;

  .tooltip {
    position: absolute;
    display: flex;
    top: 40px;
    min-width: 190px;
    height: auto;
    background-color: white;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: 2px 2px 5px 0 rgba(171, 171, 171, 0.714);
    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent white transparent;
    }
  }

  &-navigation {
    background: linear-gradient(
      90deg,
      rgba(91, 186, 236, 1) 0%,
      rgba(93, 232, 209, 1) 50%,
      rgba(93, 232, 209, 1) 100%
    );
  }
  &-action {
    background: linear-gradient(
      90deg,
      rgba(245, 189, 35, 1) 0%,
      rgba(255, 242, 125, 1) 42%,
      rgba(255, 242, 125, 1) 100%
    );
  }
  &-secondary-navigation {
    background: none;
    border: solid 3px $green;
    box-shadow: none;

    .container {
      p {
        color: $green !important;
      }
    }
  }

  &--disable {
    border: solid 3px lightgrey;
    cursor: default;
    background: transparent;
    box-shadow: none;

    .container {
      p {
        color: lightgrey !important;
      }
    }
  }

  &--mini {
    width: 30px;
    height: 30px;
  }

  .container {
    text-decoration: none;

    svg {
      margin-top: 4px; //Magic number to correcty center the svg
      height: 25px;
      width: 25px;
      color: #5a5a5a;
    }
  }
}
