@import "./Global.scss";

.create-sbs-page {
  height: calc(100vh - #{$header-height});
  overflow: auto;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 25px;
  }
  &__cards-container {
    position: relative;

    @media (min-width: 1024px) {
      width: 50%;
    }

    .delete-button {
      cursor: pointer;
      height: 30px;
      width: 30px;
      background: linear-gradient(
        90deg,
        rgba(245, 189, 35, 1) 13%,
        rgba(255, 242, 125, 1) 42%,
        rgba(255, 242, 125, 1) 100%
      );
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      box-shadow: 2px 2px 5px 0 rgba(171, 171, 171, 0.714);

      svg {
        height: 20px;
        width: 20px;
        margin: 0 3px 4px 0;
      }
    }
  }
  &__cards-container {
    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }
  &__addStep-container {
    display: flex;
    align-items: center;
    padding: 0 5px;
    max-width: 100%;
    height: 60px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 4px 3px -4px $grey;

    @media (min-width: 1024px) {
      min-width: 50%;
      max-width: unset;
    }
  }
  &__submit-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    flex-wrap: wrap;

    .basic-button{
      margin-bottom: 10px;
    }

    @media (min-width: 1024px) {
      min-width: 50%;
    }
  }
}
