@import "./Global.scss";

.create-sbs-page {
  height: calc(100vh - #{$app-header-height});
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-above(md) {
    height: calc(100vh - 15vh);
  }
  .card {
    margin-bottom: 25px;
    width: 100%;
  }
  &__cards-container {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;

    @include respond-above(lg) {
      width: 100%;
    }

    .delete-button {
      cursor: pointer;
      height: 30px;
      width: 30px;
      background: linear-gradient(
        90deg,
        rgba(245, 189, 35, 1) 13%,
        rgba(255, 242, 125, 1) 42%,
        rgba(255, 242, 125, 1) 100%
      );
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 5px;
      box-shadow: 2px 2px 5px 0 rgba(171, 171, 171, 0.714);

      svg {
        height: 20px;
        width: 20px;
        margin: 0 3px 4px 0;
      }
    }
  }

  &__addStep-container {
    display: flex;
    align-items: center;
    padding: 15px 5px;
    max-width: 100%;
    height: 60px;
    background-color: $white;
    border-radius: 5px;
    box-shadow: 1px 4px 3px -4px $grey;

    min-width: 50%;
    max-width: unset;

    @include respond-above(lg) {
      width: 100%;
    }

    .basic-button {
      @include respond-above(md) {
        margin: 10px;
      }
    }
  }
  &__submit-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    min-width: 50%;
    flex-wrap: wrap;

    .basic-button {
      margin-bottom: 10px;
    }

    @include respond-above(md) {
      min-width: 100%;
    }
  }
}
