@import './Breakpoints.scss';

$bg-color: #f8f9f9;

$red: #b45983;
$pink: #ff51a8;
$pink-light: #fcbddc;
$green: #5de8d1;
$green-darker: #4ec4b0;
$green-light: #dffaf5;
$yellow: #fff27d;
$grey: rgb(171, 171, 171);
$white: white;

$header-height : 10vh; 

.title {
  font-family: "QuickSand-bold";
  &--primary {
    font-size: 30px;
  }

  &--secondary {
    font-size: 20px;
  }
}

.input {
  &--neumorphic {
    border: 0;
    box-shadow: inset 0 0 3px 1px #cbced185, inset -4px -5px 8px #cbced185;
    border-radius: 5px;
  }
}
.textarea {
  &--neumorphic {
    border: 0;
    box-shadow: inset 0 0 3px 1px #cbced185, inset -4px -5px 8px #cbced185;
    border-radius: 5px;
  }
}

.separator{
  width: 100%;
  height: 2px;
  background-color: lightgrey;
  margin-bottom: 10px;
}