@import "./Global.scss";

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;

  .title {
    margin-bottom: 15px;
  }

  &__pattern-research {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__header {
    margin-bottom: 5%;

    &__headline {
      position: absolute;
      top: 10px;
      left: 30%;
      display: flex;
      align-items: center;
      width: 40vw;

      @media (max-width: 700px) {
        width: 65vw;
        left: 25%;
      }

      img {
        height: 65px;
        margin: 0 20px 15px 0;

        @media (max-width: 700px) {
          height: 55px;
        }
      }
      p {
        margin: 0 0 10px 0;
        width: 80%;
        text-align: start;
      }
      .text {
        font-size: 20px;
        &--pink {
          color: $pink;
        }
        &--green {
          color: $green-darker;
        }
        @media (max-width: 700px) {
          font-size: 12px;
        }
      }
    }
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      height: 50px;
      min-width: 250px;
      background-color: $pink;
      color: white;
      margin-bottom: 20px;
      padding: 0 15px;

      .username {
        text-transform: capitalize;
        margin: 0 10px;
      }
    }
  }

  &__quickaccess {
    width: 60%;

    @media (max-width: 700px) {
      width: 100%;
    }
    .title {
      display: flex;
      width: 100%;
    }
  }
}
