@import "./Global.scss";

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  position: relative;

  .title {
    margin-bottom: 15px;
  }

  &__pattern-research {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: absolute;
    top: 500px;

    @media (max-width: 400px) {
      top : 370px;
    }
  }

  &__header {
    position: absolute;
    height: 400px;
    width: 95%;

    .image {
      height: 435px;
      width: 60%;
      position: absolute;
      right: 0;
      background: url("../assets/image/homepage-image.jpg");
      background-size: cover;

      @media (max-width: 1200px) {
        width: 70%;
        opacity: 0.8;
      }
      @media (max-width: 700px) {
       width: 100%;
       opacity: 0.5;
      }
    }

    .text {
      position: absolute;
      left: 0;
      display: flex;
      flex-direction: column;
      text-align: left;
      font-family: "QuickSand-regular";
      margin: 2% 0 0 2%;
      z-index: 1;

      @media (max-width: 700px) {
        margin: 15% 0 0 2%;
       }
      &__slogan {
        margin: 0;
        font-size: 100px;
        width: 70%;
        letter-spacing: -5px;
        line-height: 105px;

        @media (max-width: 1200px) {
          font-size: 80px;
        }
        @media (max-width: 900px) {
          font-size: 60px;
          line-height: 65px;
        }
        @media (max-width: 700px) {
          font-size: 50px;
          line-height: 55px;
          text-align: center;
          width: 100%;
        }
        @media (max-width: 400px) {
          font-size: 40px;
          line-height: 45px;
          letter-spacing: 0;
        }

        &--highlight {
          background-color: $pink;
          color: white;
          padding: 0 10px;
          border-radius: 10px;
        }
      }
      &__description {
        font-size: 25px;
        width: 35%;

        @media (max-width: 1200px) {
          font-size: 20px;
          width: 40%;
        }
        @media (max-width: 700px) {
          width: 90%;
          text-align: center;
        }
        @media (max-width: 300px) {
          font-size: 12px;
         }
      }
    }
  }
}
