@import "./Global.scss";

.image-input {
  display: flex;
  align-items: center;
  height: 200px;
  width: 100%;
  background-color: $green-light;
  border-radius: 5px;
  justify-content: center;

  &__upload-button {
    margin: 20px;
    padding: 10px;
    border-radius: 30px;
    background: $green;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    svg {
      height: 25px;
      width: 25px;
    }
  }

  label {
    cursor: pointer;
  }
  input {
    display: none;
  }
  .preview {
    display: flex;
    max-height: 90%;
    max-width: 90%;

    img {
      max-width: 90%;
      height: auto;
      object-fit: scale-down;
    }

    &--hidden {
      display: none;
    }
  }
}
