@import "./Global.scss";

.pattern-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include respond-above(md) {
    height: calc(100vh - #{$header-height} - 3vh);
  }

  .pattern {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;

    @include respond-above(lg) {
      overflow: auto;
      margin-top: 0;
    }
    @include respond-above(xxl) {
      margin-top: unset;
    }

    &__image {
      height: 40vh;
    }

    &__title {
      @include respond-above(sm) {
        margin: 10px 0 0 0;
        font-size: 25px;
      }

      @media (max-height: 800px) and (min-width: 1000px) {
        margin: 10px 0 0 0;
      }
    }

    &__description {
      line-height: 20px;
      width: 70%;
      @include respond-above(sm) {
        width: 90%;
      }
    }
  }

  .step-by-step {
    min-width: 100%;

    @include respond-above(lg) {
      min-width: 70%;
    }
    .create-sbs {
      margin-top: 5%;
    }
  }
}
