@import "./Global.scss";

.primary-button {
  background: linear-gradient(
    90deg,
    rgba(91, 186, 236, 1) 0%,
    rgba(93, 232, 209, 1) 50%,
    rgba(93, 232, 209, 1) 100%
  );
  width: 150px;
  height: 40px;
  border-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
  }
}
