@import "./Global.scss";

.research-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: auto;

  &__research {
    width: 100%;
  }

  &__cards {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    .card {
      margin: 0 15px 10px 0;
    }
  }
}
