@import "./Global.scss";

$header: 250px;

.research-page {
  height: calc(100% - #{$header-height});
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__research {
    display: contents;
    width: 100%;
    height: 100px;
    align-items: baseline;

    #basic-button__submit-pattern {
      @include respond-above(md) {
        display: none;
      }
    }
  }

  &__cards {
    margin-top: 20px;
    display: flex;
    height: calc(100vh - #{$header});
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

    @include respond-above(md) {
      height: calc(100vh - 150px - #{$header-height});
    }

    .card {
      margin: 0 15px 10px 0;
    }
  }
}
