@import "./Global.scss";

$researchHeader : 150px; 

.research-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  &__research {
    width: 100%;

    @media (min-width: 1024px) {
      display: flex;
      justify-content: center;
    }
  }

  &__cards {
    display: flex;
    height: calc(100% - #{$researchHeader});
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;

    .card {
      margin: 0 15px 10px 0;
    }
  }
}
