@import "./Global.scss";

.stepbystep-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  .sbs-list {
    margin-bottom: 5%;

    @media (min-width: 1024px) {
      margin-bottom: 2%;
    }

    &__card {
      display: flex;
      height: 80px;
      background-color: white;
      border-radius: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      .card {
        flex-wrap: wrap;
        &__header {
          display: flex;
          width: 50%;
          justify-content: space-between;

          .username {
            text-transform: capitalize;
          }
          .date {
            font-family: "QuickSand-light";
          }
        }
        &__buttons{
          display: flex;
          min-width: 120px;

          @media (max-width: 700px) {
            flex-direction: column;
          }
          .delete{
            margin-right: 10px;

            @media (max-width: 700px) {
              margin-bottom: 10px;
              margin-right: 0;
            }
          }
        }
      }
    }

    
  }
  .create-sbs {
    &--centered {
      align-self: center;
    }
  }
}
